* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root { 
    --breakpoint-small: 23.4375em;
    --breakpoint-large: 90em;

    --primary-soft-blue-color: hsl(215, 51%, 70%);
    --primary-cyan-color: hsl(178, 100%, 50%);

    --dark-blue-background-color: hsl(217, 54%, 11%);
    --dark-blue-card-color: hsl(216, 50%, 16%);
    --dark-blue-line-color: hsl(215, 32%, 27%);
    --white-color: hsl(0, 0%, 100%);

    --card-width: 20.4375rem;
    --card-height: 33.9375rem;

    --card-border-radius-size: 1rem;
    --illustration-border-radius-size: 0.8rem;

    --heading-size: 1.375rem;
    --heading-line: 1.75rem;

    --paragraph-size: 1.125rem;
    --paragraph-line: 1.625rem;

    --detail-size: 0.9375rem;
    --detail-line: 1.1875rem;

    --content-size: 17.375rem;
    --avatar-size: 2.0625rem;

    --currency-block-size: 5.53rem;
    --duration-block-size: 5.793125rem;
}

body {
    background-color: var(--dark-blue-background-color);
    font-family: 'Outfit', sans-serif;
}

h1 {
    font-weight: 600;
    color: var(--white-color);
    font-size: var(--heading-size);
    line-height: var(--heading-line);
}

p {
    font-weight: 300;
    color: var(--primary-soft-blue-color);
    font-size: var(--paragraph-size);
    line-height: var(--paragraph-line);
}

.currency > *, 
.duration > *,
.creator > * {
    font-weight: 400;
    font-size: var(--detail-size);
    line-height: var(--detail-line);
}

.currency__value {
    font-weight: 600;
    color: var(--primary-cyan-color);
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    min-width: var(--breakpoint-small);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: var(--card-border-radius-size);
    width: var(--card-width);
    height: var(--card-height);
    background-color: var(--dark-blue-card-color);
}


.card__illustration,
.card__heading,
.card__paragraph,
.card__detail,
.card__cover, 
.creator {
    width: var(--content-size);
}


.card__illustration {
    position: relative;
    border-radius: var(--illustration-border-radius-size);
    height: var(--content-size);
}

.card__illustration:hover {
    background: var(--primary-cyan-color);
    cursor: pointer;
}

.card__cover {
    border-radius: var(--illustration-border-radius-size);
}

.card__cover:hover {
    opacity: 0.4;
}

.card__cover:hover + .card__eye--hover {
    display: block;
}

.card__eye--hover {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.card__heading:hover, .creator strong:hover {
    color: var(--primary-cyan-color);
    cursor: pointer;
}

.card__detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.currency,
.duration {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.currency {
    flex-basis: var(--currency-block-size);
}

.duration {
    flex-basis: var(--duration-block-size);
}

.card__divider {
    height: 1px;
    width: var(--content-size);
    border: none;
    background-color: var(--dark-blue-line-color);
}

.creator {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.creator strong {
    color: var(--white-color);
    font-weight: 400;
}


.creator__avatar {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border: 1px solid var(--white-color);
    border-radius: 1rem;
}


.attribution {
    background-color: var(--dark-blue-card-color);
    text-align: center;
}

.attribution a {
    color: var(--white-color);
    text-decoration: none;
    
}

.attribution a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 90em) {
    :root { 
        --card-width: 21.875rem;
        --card-height: 37.25rem;
    
        --content-size: 18.875rem;

        --heading-size: 1.375rem;
        --heading-line: 1.75rem;
    
        --paragraph-size: 1.125rem;
        --paragraph-line: 1.625rem;
    
        --detail-size: 1rem;
        --detail-line: 1.25rem;
    
        --currency-block-size: 5.8425rem;
        --duration-block-size: 6.04375rem;
    }
}